@media (min-width: 1000px) {

    main {
        padding-left: 15%;
        padding-right: 15%;
    }

    main > a {
        padding: 1%;
    }

    header {
        width: 100%;
        height: 90vh;
        background-position: bottom;

        article {
            height: 70%;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
            width: 40%;
        }

        div > a {
            padding: 1%;
            width: 10%;
        }
    }

    nav > ul {
        width: 30%;

        a {
            font-size: medium;
        }
    }

    .title-section {
        width: 100%;

        h2 {
            font-size: 36px;
            font-weight: 300;
        }

        p {
            width: 50%;
            font-weight: 200;
            font-size: 20px;
        }
    }

    .about {
        padding-top: 5%;

        > section:last-child {
            flex-direction: row;

            p {
                font-size: 20px;
            }
        }

        h3 {
            font-size: 26px;
        }

        aside {
            width: 15vh;
            height: 15vh;
        }

        i {
            font-size: 50px;
        }
    }

    .gallery {
        column-gap: 2vh;

        figure {
            width: 20%;

            p {
                font-weight: 300;
            }
        }
        
    }

    .subscribe {

        form {
            flex-direction: row;
            column-gap: 2vh;
            justify-content: center;
        }

        [type="email"] {
            width: 40%;
            padding: 1vh;
        }

        [type="submit"] {
            padding: 0.5vh;
            width: 15%;
        }
    }

    .contact {

        > form {
            justify-content: space-between;
        }

        [name="name"],
        [type="email"],
        [name="subject"] {
            width: 30%;
            padding: 1%;
        }

        [type="submit"] {
            padding: 1%;
        }
    }
}